@font-face {
	font-family: 'Bangers';
	src: 
		local('Bangers'),
		url('../fonts/Bangers/Bangers-Regular.ttf')
		format('truetype');
}

html, body {
    position: absolute;
    width:  100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

body canvas {
    border: 0;
    margin: 0;
    padding: 0;
}

.hidden {
  visibility: hidden;
}

#canvas-container {
  width: 100%;
  height: 100%;
}

#html-container-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#dashboard, #dashboard * {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 16px;
}

#dashboard .container {
    padding: 25px;
    background: rgba(30, 30, 30, 0.9);
}

#dashboard .container form .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#dashboard .container form .header h2 {
    font-size: 24px;
    margin: 0;
    font-weight: 400;
}

#dashboard .container form .header img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#dashboard .container form .fields{
    display: flex;
    flex-direction: column;
}

#dashboard .container form input {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

#dashboard .container form input::placeholder {
    color: white;
}

#dashboard .container form .checkbox input {
    cursor: pointer;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

#dashboard .container form .submit {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background: #459500;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    width: 100%;
    cursor: pointer;
}

#dashboard .container form .submit:hover {
    background: #5DAA00;
}

#lobby {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Bangers';
    text-shadow: max(-0.277vh, calc(-0.277vw / 14 * 9)) min(0.277vh, calc(0.277vw / 14 * 9)) black;
    color: white;
  }

  #lobby .container {
    font-size: min(3.461vh, calc(3.461vw / 14 * 9));
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: min(13.843vh, calc(13.843vw / 14 * 9));
    border: min(0.138vh, calc(0.138vw / 14 * 9)) solid rgba(0,0,0, 0.7);
    border-width: min(0.277vh, calc(0.277vw / 14 * 9)) min(0.277vh, calc(0.277vw / 14 * 9)) min(0.831vh, calc(0.831vw / 14 * 9)) min(0.277vh, calc(0.277vw / 14 * 9));
  }

  #lobby .container.red {
    background-color: rgba(255, 34, 34, 0.9);
  }

  #lobby .container.blue {
    background-color: rgba(34, 34, 255, 0.9);
  }

  #lobby .container .name {
    position: absolute;
    top: min(20.764vh, calc(20.764vw / 14 * 9));
    padding: 0 min(3.461, calc(3.461vw / 14 * 9));
    font-size: min(5.537vh, calc(5.537vw / 14 * 9));
  }

  #lobby .container .button {
    position: absolute;
    bottom: min(20.764vh, calc(20.764vw / 14 * 9));
  }

  #lobby .container .button button{
    outline: none;
    transition:all .1s ease-out; 
    cursor: pointer;
    font-family: 'Bangers';
    font-size: min(3.461vh, calc(3.461vw / 14 * 9));
    color: white;
    text-shadow: max(-0.277vh, calc(-0.277vw / 14 * 9)) min(0.277vh, calc(0.277vw / 14 * 9)) black;
    padding: min(0.692vh, calc(0.692vw / 14 * 9)) min(5.537vh, calc(5.537vw / 14 * 9));
    border-radius: min(1.384vh, calc(1.384vw / 14 * 9));
    border: min(0.138vh, calc(0.138vw / 14 * 9)) solid rgba(0, 0, 0, 0.7);
    border-width: min(0.138vh, calc(0.138vw / 14 * 9)) min(0.138vh, calc(0.138vw / 14 * 9)) min(0.831vh, calc(0.831vw / 14 * 9)) min(0.138vh, calc(0.138vw / 14 * 9));
  }

  #lobby .container.red .button button {
    background-color: rgba(255, 34,34);
  }

  #lobby .container.blue .button button {
    background-color: rgba(34, 34,255);
  }

  #lobby .container .button button:hover{
    border-width: min(0.138vh, calc(0.138vw / 14 * 9)) min(0.138vh, calc(0.138vw / 14 * 9)) min(0.554vh, calc(0.554vw / 14 * 9)) min(0.138vh, calc(0.138vw / 14 * 9)) !important;
  }

  #lobby .container .button button:active{
    border-width: min(0.138vh, calc(0.138vw / 14 * 9)) min(0.138vh, calc(0.138vw / 14 * 9)) min(0.277vh, calc(0.277vw / 14 * 9)) min(0.138vh, calc(0.138vw / 14 * 9)) !important;
  }

  #scoreboard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center; 
    user-select: none; 
  }

  #scoreboard .container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Bangers';
    padding-top: min(1.0vh, calc(1.0vw / 14 * 9));
  }

  #scoreboard .container .time {
    width: min(15.165vh, calc(15.165vw / 14 * 9));
    padding-top: 0;
    padding-left: min(0.925vh, calc(0.925vw / 14 * 9));
    padding-right: min(0.925vh, calc(0.925vw / 14 * 9));
    padding-bottom: min(0.925vh, calc(0.925vw / 14 * 9));
    
    font-size: min(2.775vh, calc(2.775vw / 14 * 9));
    letter-spacing: min(0.25vh, calc(0.25vw / 14 * 9));
    text-shadow: max(-0.075vh, calc(-0.075vw / 14 * 9)) min(0.075vh, calc(0.075vw / 14 * 9)) min(0.125vh, calc(0.125vw / 14 * 9)) black;

    background-image: linear-gradient(0, rgb(105, 126, 145) 0%, rgb(170, 185, 204) 100%);
    clip-path: polygon(15% 0, 85% 0, 90% 100%, 10% 100%);
  }

  #scoreboard .container .part {
    top: min(4.845vh, calc(4.845vw / 14 * 9));
    position: absolute;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(0, rgb(40,40,40) 0%, rgb(70,70,70) 65%, rgb(40,40,40) 100%);
  }

  #scoreboard .container .part.middle {
    z-index: 4;
    height: min(6.785vh, calc(6.785vw / 14 * 9));
    padding: 0 min(2.775vh, calc(2.775vw / 14 * 9));
    clip-path: polygon(0 0, 0 -100%, 100% -100%, 100% 0, calc(100% - min(2.775vh, calc(2.775vw / 14 * 9))) 100%, calc(100% - min(2.775vh, calc(2.775vw / 14 * 9))) 200%, calc(0% + min(2.775vh, calc(2.775vw / 14 * 9))) 200%, calc(0% + min(2.775vh, calc(2.775vw / 14 * 9))) 100%);
  }

  #scoreboard .container .part.left {
    z-index: 3;
    clip-path: polygon(0 0, 0 -100%, 50% -100%, 50% 200%, calc(0% + min(2.775vh, calc(2.775vw / 14 * 9))) 200%, calc(0% + min(2.775vh, calc(2.775vw / 14 * 9))) 100%);
  }

  #scoreboard .container .part.right {
    z-index: 2;
    clip-path: polygon(50% -100%, 100% -100%, 100% 0, calc(100% - min(2.775vh, calc(2.775vw / 14 * 9))) 100%, calc(100% - min(2.775vh, calc(2.775vw / 14 * 9))) 200%, 50% 200%);
  }

  #scoreboard .container .score-base {
    padding: 0 min(2.775vh, calc(2.775vw / 14 * 9));
    width: min(15.72vh, calc(15.72vw / 14 * 9));
  }

  #scoreboard .container .score {
    display: flex;
    position: relative;
    top: -15%;
    justify-content: center;
    align-items: center;
    height: 130%;

    margin-left: min(-0.74vh, calc(-0.74vw / 14 * 9));
    margin-right: min(-0.74vh, calc(-0.74vw / 14 * 9));
    
    font-size: min(4.625vh, calc(4.625vw / 14 * 9));
    letter-spacing: min(0.415vh, calc(0.415vw / 14 * 9));
    text-shadow: max(-0.125vh, calc(-0.125vw / 14 * 9)) min(0.125vh, calc(0.125vw / 14 * 9)) min(0.21vh, calc(0.21vw / 14 * 9)) black;

    background-image: linear-gradient(0, rgb(3,97,135) 0%, rgb(34,160,244) 65%, rgb(3,97,135) 100%);
    clip-path: polygon(0 40%, calc(0% + min(2.45vh, calc(2.45vw / 14 * 9))) 0, calc(100% - min(2.45vh, calc(2.45vw / 14 * 9))) 0, 100% 40% , calc(100% - min(2.45vh, calc(2.45vw / 14 * 9))) 100%, calc(0% + min(2.45vh, calc(2.45vw / 14 * 9))) 100%);
  }

  #scoreboard .container .team-name-base {
    font-size: min(4.625vh, calc(4.625vw / 14 * 9));
    letter-spacing: min(0.415vh, calc(0.415vw / 14 * 9));
  }

  #scoreboard .container .team-name-base.left {
    padding-left: min(7.395vh, calc(7.395vw / 14 * 9));
    padding-right: min(5.545vh, calc(5.545vw / 14 * 9));
  }
  #scoreboard .container .team-name-base.right {
    padding-left: min(5.545vh, calc(5.545vw / 14 * 9));
    padding-right: min(7.395vh, calc(7.395vw / 14 * 9));
  }

  #scoreboard .container .team-name {
    padding-top: min(0.925vh, calc(0.925vw / 14 * 9));
    padding-bottom: min(0.925vh, calc(0.925vw / 14 * 9));
    font-size: min(4.625vh, calc(4.625vw / 14 * 9));
    letter-spacing: min(0.415vh, calc(0.415vw / 14 * 9));
    background-image: linear-gradient(0, rgb(10,10,10) 0%, rgb(40,40,40) 25%, rgb(10,10,10) 100%);
    
  }

  #scoreboard .container .team-name.left {
    clip-path: polygon(0 0, calc(100% - min(2.775vh, calc(2.775vw / 14 * 9))) 0, 100% 100%, calc(0% + min(2.775vh, calc(2.775vw / 14 * 9))) 100%);
  }

  #scoreboard .container .team-name.right {
    clip-path: polygon(calc(0% + min(2.775vh, calc(2.775vw / 14 * 9))) 0, 100% 0, calc(100% - min(2.775vh, calc(2.775vw / 14 * 9))) 100%, 0 100%);
  }

  #full-time {
    position: relative;
    background-color: rgba(0,0,0, 0.1);
    height: 100%;
    width: 100%;
  }

  #full-time .full-time-text-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items:center;
  }

  #full-time .full-time-text-container .full-time-text {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(8vh, calc(8vw / 14 * 9));
    background-color: rgba(0,200,00,1);
    color: white;
    text-shadow: max(-0.15vh, calc(-0.15vw / 14 * 9)) min(0.15vh, calc(0.15vw / 14 * 9)) min(0.25vh, calc(0.25vw / 14 * 9)) black;
    font-family: 'Bangers';
    letter-spacing: min(0.5vh, calc(0.5vw / 14 * 9));
  }
