﻿@page
@{
    ViewData["Title"] = "Home page";
}

<input type="text" id="textInput" placeholder="Enter your text" />
<button id="sendButton">Send</button>

<pre id="lastMsg"></pre>

<script language="javascript" type="text/javascript">
    const msg = document.getElementById('lastMsg');
    const button = document.getElementById("sendButton");
    const input = document.getElementById("textInput");

    const uri = "ws://localhost:5000/ws";
    const socket = new WebSocket(uri);

    socket.onopen = () => {
        console.log("opened connection to " + uri);
    };
    socket.onclose = () => {
        console.log("closed connection from " + uri);
    };
    socket.onmessage = (event) => {
        msg.innerText = JSON.stringify(JSON.parse(event.data), null, 2);
    };
    socket.onerror = (event) => {
        console.log("error: " + event.data);
    };

    button.addEventListener("click", () => {
        socket.send(input.value);

        input.value = "";
    });
</script>
